.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 960px) {
    justify-content: inherit;
  }

  @media (max-width: 675px) {
    flex-direction: column;
  }

  &__item {
    @media (max-width: 960px) {
      margin: 0 auto;
    }

    &:first-child {
      @media (max-width: 960px) {
        margin: 0 calc((100% - 280px) / 2);
      }

      @media (max-width: 675px) {
        margin: 0 auto;
      }
    }
  }
}
