
@font-face {
  font-weight: 100;
  font-family: 'Exo 2.0';
  font-style: normal;
  src: url('/fonts/Exo20-Thin.woff2') format('woff2'),
    url('/fonts/Exo20-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Trebuchet MS';
  font-style: normal;
  src: local('Trebuchet MS'),
    local('TrebuchetMS'),
    url('/fonts/TrebuchetMS.woff2') format('woff2'),
    url('/fonts/TrebuchetMS.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Trebuchet MS';
  font-style: normal;
  src: local('Trebuchet MS Bold'),
    local('TrebuchetMSBold'),
    local('Trebuchet MS-Bold'),
    url('/fonts/TrebuchetMS-Bold.woff2') format('woff2'),
    url('/fonts/TrebuchetMS-Bold.woff') format('woff');
  font-display: swap;
}
