$font-main: 'Trebuchet MS', 'Helvetica', sans-serif;
$font-secondary: 'Exo 2.0', sans-serif;

$text-main: #666666;
$text-black: #000000;
$text-white: #ffffff;
$text-yellow: #ffff66;

$default: #1698d9;
$default-hover: #2ea8e6;
$selected: #d91667;
$selected-hover: #e52e7a;
$disabled: #b3b3b3;

$product-bg: #f2f2f2;
