@import '~normalize.css/normalize.css';
@import 'variables';
@import 'fonts';
@import 'mixin';

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $text-main;
  font-size: 16px;
  font-family: $font-main;
  font-style: normal;
  background-color: #121212;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
    url('/images/bg-pattern@1x.jpg');
  background-size: 100% 100%, 140px 140px;

  //fix IE 11, выравнивание контейнера по вертикали
  &::after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }

  @include retina {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
      url('/images/bg-pattern@2x.jpg');
  }
}

.main {
  width: 100%;
  max-width: 1120px;
  padding: 0 20px;
}

.title {
  margin: 10px 0 24px;
  color: $text-white;
  font-weight: 100;
  font-size: 36px;
  font-family: $font-secondary;
  text-align: center;

  @media (max-width: 960px) {
    margin-top: 30px;
  }
}
