@import '../../styles/variables';

.product {
  display: flex;
  flex-direction: column;
  width: percentage(320/1120);
  min-width: 280px;
  border-radius: 10px;

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 4px;
    border: none;
    color: $text-main;
    text-align: left;
    text-decoration: none;
    background: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;

    .product--disabled & {
      pointer-events: none;
    }

    &:active {
      border: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      border-radius: 12px;
      background-image: linear-gradient(135deg, transparent 30px, $default 30px);
      transition: background 0.2s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      z-index: -1;
      border-radius: 8px;
      background-image: linear-gradient(135deg, transparent 29px, $product-bg 29px);
    }

    &:focus::before,
    &:hover::before {
      background-image: linear-gradient(135deg, transparent 30px, $default-hover 30px);
    }

    .product--selected &::before {
      background-image: linear-gradient(135deg, transparent 30px, $selected 30px);
    }

    .product--selected-hover &::before {
      background-image: linear-gradient(135deg, transparent 30px, $selected-hover 30px);
    }

    .product--disabled &::before {
      background-image: linear-gradient(135deg, transparent 30px, $disabled 30px);
    }

    picture {
      display: flex;
      margin-top: auto;
    }
  }

  &__description {
    max-width: 280px;
    padding: 18px 18px 0 44px;
    word-break: break-word;

    .product--disabled & {
      color: $disabled;
      opacity: 0.5;
    }
  }

  &__teaser {
    margin: 0 0 6px;

    &--red {
      color: $selected-hover;
    }
  }

  &__title {
    margin: 0 0 14px -2px;
    color: $text-black;
    font-size: 48px;

    .product--disabled & {
      color: $disabled;
    }
  }

  &__subtitle {
    display: block;
    margin-left: 2px;
    font-size: 24px;
  }

  &__features {
    margin: 0 0 17px;
    padding: 0;
    font-size: 14px;
    list-style: none;
  }

  &__image {
    display: block;
    max-width: 100%;
    max-height: 269px;
    border-bottom-left-radius: 8px;
    object-fit: cover;

    .product--disabled & {
      opacity: 0.5;
    }
  }

  &__weight {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: $text-white;
    text-align: center;
    background-color: $default;

    .product__wrapper:hover & {
      background-color: $default-hover;
    }

    .product--selected &,
    .product--selected:hover & {
      background-color: $selected;
    }

    .product--selected-hover & {
      background-color: $selected-hover;
    }

    .product--disabled &,
    .product--disabled .product__wrapper:hover & {
      background-color: $disabled;
    }
  }

  &__weight-amount {
    display: block;
    margin-top: 14px;
    font-size: 42px;
    line-height: 0.9;
  }

  &__unit {
    display: block;
    font-size: 21px;
    line-height: 1;
  }

  &__text-status {
    min-height: 2.155em;
    margin: 15px 0 22px;
    color: $text-white;
    font-size: 13px;
    text-align: center;

    span {
      color: $default;
    }

    .product--disabled & {
      color: $text-yellow;
    }
  }

  &__btn-buy {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    color: $default;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: $default-hover;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(90deg, $default, $default 3px, transparent 3px, transparent 5px);
      background-size: 5px 1px;
      content: '';
    }

    &:hover::after {
      background-image: linear-gradient(90deg, $default-hover, $default-hover 3px, transparent 3px, transparent 5px);
    }
  }
}
